<!DOCTYPE html>
<html>
  <head>
    <title>PipefyCards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <%= link_to 'Home', root_path, input_html = { class: 'navbar-brand' } %>
    </nav>

    <main role="main" class="container">

      <%= render 'header' %>

      <%= yield %>

    </main>
  </body>
</html>
